h1
{
	font-family: "Varanda", "Geneva", "Melvetica", sans-serif;
	color: #8E0000;
	text-align: center;
	font-size: 2.25em;
	border: outset grey;
	margin: 10px 250px 10px 250px;
	padding: 25px
}

.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav li
{
	display: inline;
	padding-right: 40px;
}

nav a:link
{
	text-decoration: none;
}

nav a:hover
{
	text-decoration: underline;
}

nav a:active
{
	color: white;
	text-decoration: underline;
}

body
{
	background-image: url(../Images/black.jpg);
	color: grey;
	background-color: black;
	font-family: "Times New Roman", serif;
}

h2
{
	color: aqua;
	font-size: 2em;
	font-family: "Courier New", monospace;
	border: inset grey;
	margin-right: 50px;
	padding-left: 10px
}

h3
{
	color: aqua;
	font-size: 2em;
	font-family: "Courier New", monospace;
	text-align: center;
	margin-right: 50px;
	padding-left: 10px
}

p
{
	font-size: 1.25em;
}

div
{
	text-align: center;
	border: double grey;
	margin: 25px;
}

ul
{
	display: inline-block; 
	text-align: left;
}

a
{
	color: red;
}

